.FormPage{
    background-color: #3B5063;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: url("../assets/MK-logo.svg");
    background-size: 800px;
    background-repeat: no-repeat;
    background-position: center;
}

/* Form Style */

.DonationForm{    
    background-color: white;
    opacity: .5;
    width: 75%;
    margin: auto;
    border-radius: 25px;
    padding: 25px;
}



/* Bottom of the form styling */
.BottomForm{
    text-align: center;
    
    
}
/* Header/Footer style */
.head{
    padding-top: 2%;
    text-align: center;
    color: white;
}
.headFoot{
    text-align: center;
    color: white;

}

/* Stripe Modal Style */

.stripeModal{
    background-color: #5BD6FE;
    color: white ;
    width: 500px;
    text-align: center;
    border-radius: 15px;
    margin-left: auto;
    margin-top: 15%;
    margin-right: auto;

    
}
