.welcomePage{
    padding-top: 15%;
    padding-bottom: 25%;
    text-align: left;
    color: white;
    background-image: url("../assets/MK-logo.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 550px;



}

.thankYouPage{
    padding-top: 10%;
    padding-bottom: 50%;
    color: white;
    text-align: center;

    /* background css */
    background-color: #3B5063;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: url("../assets/MK-logo.svg");
    background-size: 550px;
    background-repeat: no-repeat;
    background-position: center;



    
}